<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/image.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Mansi Kaushik</a></h1>
            <p>A Computer Science Undergraduate<br />
            and Machine Learning Enthusiast</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="https://drive.google.com/open?id=1ZwXXVf1uk5MYAkF6TvjJwxYfJqTbAgoU">CV</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://www.linkedin.com/in/mansi-kaushik-0a2154167/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/Mansi109" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="mailto:mansi.kaushik61@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>
